* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#product-men{
    width: 100%;
    height: 100vh;
    /* background-color: green; */
}

#product-men .product-men {
width: 100%;
height: 38vmax;
/* background-color: lightcoral; */
display: flex;
}

#product-men .prod-tablet-title {
    display: none;
}

#product-men .prod-men-left {
    height: 100%;
    width: 28%;
    /* background-color: lightblue; */
    padding: 12px;

}
#product-men .prod-men-left img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.516);
}
#product-men .prod-men-right {
    height: 100%;
    width: 72%;
    /* background-color: rgb(31, 181, 231); */
}
#product-men .prod-men-right-top {
    width: 100%;
    height: 15%;
    /* background-color: brown; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4vmax;
}
#product-men .prod-men-right-bottom {
    width: 100%;
    height: 85%;
    /* background-color: seagreen; */
    padding: 12px;

}
#product-men .prod-men-cards {
    width: 100%;
    height: 100%;
    /* background-color: rgb(227, 0, 0); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
}
#product-men .card-part1{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    gap: 6px;
}
#product-men .card-part2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
    gap: 6px;
}
#product-men .prod-men-cards .card {
    width: 50%;
    height: 100%;
    background-color: cadetblue;
    border: 1px solid black;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.516);
    border-radius: 12px;
}


.prod-men-cards img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}





@media (max-width: 700px) {
    
    #product-men .product-men {
        background-color: red;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        justify-content: space-between;
        }

        #product-men .prod-men-right-top {
            display: none;
        }
        #product-men .prod-tablet-title {
            width: 100%;
            height: 8vmax;
            display: block;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: saddlebrown;
        }
        #product-men .prod-men-left {
            height: 55vmax;
            width: 80%;
            /* background-color: lightblue; */
            /* padding: 12px; */
        
        }
        #product-men .prod-men-cards {
            width: 120%;
            height: 100%;
            background-color: blue;
            
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
        }
        #product-men .card-part1{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: green;
            gap: 8px;
        }
        #product-men .card-part2 {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: yellow;
            gap: 8px;
        }
        #product-men .prod-men-cards .card {
            width: 70%;
            height: 100%;
            background-color: cadetblue;
            border: 1px solid black;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.516);
            border-radius: 12px;
        }
}
